*{
    margin: 0%;
    padding: 0%;
}



.header{
width: 100%;
height: 80vh;
background-image: url(photo/contact-bg.jpg);
background-size: cover;
background-color: rgb(59, 56, 56);

}

.navbar{

width: 100%;
height: 80px;


}
.navbar ul {
display: inline-block;
float: right ;
margin-right: 50px;
margin-top: 15px;


}

.navbar ul li{
font-size: 20px;
display: inline-block;
margin-right: 50px;
margin-top: 20px;
padding: 0%;
color: rgb(56, 52, 52);

}

.navbar ul li:hover{
    color: rgb(54, 172, 172);
}

.Start{
    color: rgb(56, 52, 52);
    float: left;
    margin-right: 50px;
    margin-top: 36px;
    margin-left: 30vh;
}


.contact{
    color: rgb(90, 85, 85);
    font-size: 7vh;
    text-align: center;
    margin-top: 20vh;
    opacity: 0,9;
}

.ablog{
color: rgb(78, 74, 74);    
margin-top: 2vh;
font-size: 4vh;
text-align: center;

}


h6{

font-size: 4vh;
font-weight: 400;
opacity: 0.8;
margin-left: 65vh;
margin-top: 15vh;

}

.submit input{
    width: 12vh;
    height: 8vh;
    background-color: rgb(45, 45, 167);
    border-style: none;
    margin-top: 6vh;
    margin-left: 54vh;
    color: rgb(221, 214, 214);
}

.form{

text-align: center;
margin-top: 10vh;

}
.form input{
    width: 50%;
    height: 10vh;
    margin: 2vh;
    border-top: 0ch;
    border-left: 0ch;
    border-right: 0ch;
}  

.twitter{ 
    font-size: 7vh;
    margin-left: 90vh;
}

.twitter a{
    color: black;
    text-decoration: none;
}
.twitter a:hover{
    color:rgb(47, 47, 197) ;
}

.facebook{
 margin-left: 2vh;
 font-size: 7vh;
}

.facebook a{
    text-decoration: none;
    color: black;
}
.facebook a:hover{
    color: rgb(47, 47, 197);
}


.github{
    font-size: 7vh;
    margin-left: 2vh;
}
.github a{
    text-decoration: none;
    color: black;
}

.github a:hover{
    color: rgb(47, 47, 197);
}



.end{
font-size: 3vh;
text-align: center;
margin-top: 3vh;
margin-right: 9vh;

}





   

